$main_color:  #FFD050;
$hover_color:  #EDC14A;
$hover_text:  #FBF6EA;
$other_color:  #592EA9;
$text_color:  #232536;
$accent_color: #FFF;
$background_color: #F4F0F8;
$border_color: #6D6E76;
$sen_bold: "Sen-Bold";
$inter_regular: "Inter-Regular";
$inter_medium: "Inter-Medium";
$inter_semi_Bold: "Inter-SemiBold";
$Inter_Black: "Inter-Black";
