$main_color:  #FFD050;
$hover_color:  #EDC14A;
$other_color:  #592EA9;
$text_color:  #232536;
$accent_color: #FFF;
$sen_bold: "Sen-Bold";
$inter_regular: "Inter-Regular";
$inter_medium: "Inter-Medium";
$inter_semi_Bold: "Inter-SemiBold";
$Inter_Black: "Inter-Black";
