// @media (max-width: 1440px) {
//   1201-1440
// } если контейнер больше 1200px
// (если контейнер вылазит за текущий размер экрана)

// @media (max-width: 1200px) {
//   1025-1200
// }

// @media (max-width: 1024px) {
//  0-1024
//  768-1024
// }

// @media (max-width: 767px) {
//   481-767
// }

// @media (max-width: 480px) {
//   320-480
// }
@media (max-width: 1439px) {
    // 1201-1440
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    // 1025-1200
    .container {
      max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 350px 550px;
            column-gap: 50px;
            row-gap: 35px;
        }
        .title {
            &_fz36 {
                font-size: 34px;
                line-height: 50px;
            }
        }
        &__skills {
            grid-template-columns: 550px;
            grid-template-rows: 1fr;
            grid-auto-rows: 1fr;         /*  надо или нет */
            row-gap: 10px;
            &-item {
                grid-template-columns: 40px 400px;
            }
        }
    }
    .experiense {
        padding-top: 100px;
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 70px;
        }
    }
    .skills {
        padding-top: 100px;
        &__column {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__rating {
            padding-top: 100px;
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
        }
    }
    .portfolio {
        padding-top: 100px;
        &__work {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .vertical, .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__item {
            img {
                width: 280px;
                height: 280px;        /* если не прописать размер остаются прямоугольниками */
            }
        }
    }
    .contacts {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 300px 525px;
            column-gap: 40px;
        }
        &__form {
            grid-template-columns: repeat(2,250px);
        }
    }
}

@media (max-width: 1024px) {
    // 768-1024
    .container {
         max-width: 700px;
    }
    .title {
        &_fz36 {
        font-size: 30px;
        }
        &_fz36 {
            font-size: 30px;  
        }
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 20px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-template-rows: 1fr;
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .experiense {
        padding-top: 80px;
        &__wrapper {
            column-gap: 50px;
        }
    }
    .skills {
        padding-top: 80px;
        &__column {
            padding: 0 30px;
        }
        &__rating {
            padding-top: 80px;
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            column-gap: 0;
            &-rectangle {
                width: 320px;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
    }
    .price {
        &__list {
            grid-template-columns: repeat(auto-fit, 345px);
            padding: 40px 0 0 0;
        }
        &__item {
            grid-template-columns: 200px 120px;
        }
    }
    .contacts {
        padding-top: 80px;
        &__wrapper {
            padding: 0 10px;
            grid-template-columns: 280px 340px;
            column-gap: 30px;
        }
        &__form {
            grid-template-columns: 340px;
            grid-template-rows: 45px 45px 190px;
        }
        &__input {
            grid-column: 1/3;
        }
        &__btn {
            padding: 8px 25px;
            font-size: 12px;          /* ? */
            line-height: 12px;        /* ? */
        }
        &__policy {
            line-height: 12px;        /* ? */
        }
    }       
}

@media (max-width: 768px) {
    // 480-768
    .container {
        max-width: 420px;
    }
    .title {
        &_fz48 {
            font-size: 36px;
            line-height: 39px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .promo {
        background: url('../img/bg.jpg') no-repeat 57%/cover;
        &__title {
            width: 400px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .experiense {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__column {
            padding: 0;
            margin-top: 20px;
            justify-content: center;
            gap: 20px;
        }
        &__rating {
            padding-top: 40px;
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
            &-rectangle {
                width: 320px
            }
        }
    }
    .portfolio {
        padding-top: 40px;
        &__work {
            margin-top: 40px;
        }
    }
    .price {
        &__list {
            padding-top: 20px;
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }  
        &__trigger {
            grid-template-columns: 1fr;
        }
        &__policy {
            line-height: 18px;
        }

    }
}

@media (max-width: 480px) {
    // 0-480
    .container {
    max-width: 100%;
    padding: 0 15px;
    }
    .hamburger {
        right: 20px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &__section-title {
            margin-top: 26px;
        }
        &_fz36 {
            font-size: 25px;
        }
    }
    .promo {
        background: url('../img/bg.jpg') no-repeat 59%/cover;
        &__title {
            width: 290px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__subtitle {
            margin-top: 25px;
        }
        .divider {
            margin: 15px 0 0 0;
        }
        &__skills {
            &-item {
                margin-top: 20px;
            }
        }
    }  
    .skills {
        &__rating {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    .contacts {
        &__form {
            grid-template-columns: 320px;
            grid-template-rows: 45px 45px 190px minmax(45px, auto)
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }

}